
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poiret One';
    vertical-align: baseline;
}

.top {
background-image: url("https://s10.tvp.pl/images2/0/9/0/uid_090c9d9b5ecf5885d38e47dd361a80701583148206486_width_1280_play_0_pos_0_gs_0_height_720_image-tlo-transmisji-i-dyscypliny-mobile.jpg");
background-position-y: bottom;
background-repeat: no-repeat;
background-size: cover;
height: 1000px
/* USTAWIĆ TŁO TAK ŻEBY ZMNIEJSZAŁO SIĘ PRZY ZMNIEJSZANIU STRONY*/
}

div.welcome {
    padding: 100px 0px;
    text-align: center;
}

.header {
    padding: 40px 500px;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    display: flex;
}

.logo {
    margin-left: 10px;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul,li {
    margin: 0;
    padding: 0px 10px;
    display: inline;
    color:#fff;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color:rgb(0, 87, 58)
}

.h1_welcome {
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
}
.h2_welcome {
    margin: 0px;
    padding: 50px 10px 70px 10px;
    font-size: 75px;
    text-align: center;
    color: #fff;
}
.h3_services {
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}
.h4_services {
    text-align: center;
}

.section_description {
    text-align: center;
    padding: 10px;
}

.container_services {
    padding: 100px 400px 400px 400px;
    display: flex;
    justify-content: space-evenly;
    max-width: 70%;
}

.button {
    background-color: rgb(0, 87, 58);
    color: #fff;
    padding: 25px 40px;
    border: none;
    border-radius: 5px;
    font-size: 140%;
    font-weight: bolder;
}
a.button:hover {
    color: #fff;
    cursor: pointer;
    background-color:rgb(0, 67, 44);
    transition: background-color 1s;
}

